<h1>Welcome!</h1>

<button type="button" class="btn btn-warning">
<%= link_to "Sign Up!", signup_path %>
<button>
<button type="button" class="btn btn-warning">
<%= link_to "login", login_path %>
<button>
<%= link_to "Log In with Google", '/auth/google_oauth2' %>
