<div class="header"><h2>Edit Comment</h2></div>

<div class="wrapper">
Your comment for: <%= @comment.review.town.formatted_name %>
<%= render partial: "layouts/errors", locals: { object: @comment } %>

<%= render "form" %>
</div>
