<h1>All Comments!</h1>

Town Name: <%= @review.town.formatted_name %><br><br>
Review: <%= @review.content %><br><br>
Comments:

<ul>
<% @comments.each do |c| %>
  <li><%= c.content %> By: <%= c.user.name %></li>
<% end %>
</ul>