<div class="header"><h1>New Comment</h1></div>

<div class="wrapper">
Leave a comment for: <%= @comment.review.town.formatted_name %>
<%= render partial: "layouts/errors", locals: { object: @comment } %>

<%= render "form" %>
</div>
