<div class="header"><h1>Welcome <%= @user.name %></h1></div>
<br>
<div class="wrapper">
<% @user.towns.each do |t| %>
 <li><%= t.formatted_name %><br>
 <%= link_to "Edit Review", edit_review_path(t) %></li><br><br>
<% end %>
</div>
