<div class="header"><h1>Welcome <%= @user.name %></h1></div>
<br>
<div class="wrapper">
<% if @user.towns.empty? %>
<p>Welcome! Please use the links above to create a new review or see what others have reviewed</p>
<% else %>
<h4>Here is the list of towns you have reviewed</h4><br><br>

<% @user.towns.order_by_state.each do |t| %>
 <li><%= t.formatted_name %></li><br>
<% end %>
<% end %>
</div>
